.form {
  position: relative;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.control label::before {
  content: "*";
  color: red;
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.35rem;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  font-size: 0.8rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #cbf8f8;
  outline-color: teal;
}

.actions {
  text-align: right;
}

.actions button {
  font-size: 1rem;
  padding: 0.6rem;
  margin-top: 1rem;
}

.error {
  color: red;
}

@media screen and (min-width: 470px) {
  .control label {
    font-size: 1.2rem;
  }
  .control input,
  .control textarea {
    font-size: 1.2rem;
  }
  .actions button {
    font-size: 1.2rem;
    padding: 0.8rem;
  }
}
@media screen and (min-width: 850px) {
  .control input,
  .control textarea {
    font-size: 1.4rem;
  }
  .actions button {
    font-size: 1.3rem;
    padding: 0.9rem;
  }
}
